body{
    margin:35px;
    text-align: center;
}

#container{
    display:inline;
}
#main{
   display:inline-block;
   padding-left: 30px;
   text-align: left;
   padding:25px;
}
img{
    height:250px;
    width:200px;
}
#name{
    max-width: 200px;
    height:55px;

}
span{
    font-weight: 20px;
    color: orange;
}